{% extends 'kltp/base1.html' %}
    
{% block title %}đơn giá {% endblock %}

{% block content %}
<div class="card-deck">
 <div class="card" style="text-align: center">
    <div class="card-header">
        <h3>ĐƠN GIÁ THI CÔNG TRỌN GÓI</h3>
    </div>
    <div class="card-body">
        <img src="static/hinh/nhapho.png"  style="width: 300px;height: 150px;text-align: center;">
        <h4>6 triệu/1m2</h4>        
    </div>
    <div class="card-footer">
        <button name="button" type="button">Chi Tiết</button>
    </div>
 </div>
 <div class="card" style="text-align: center">
    <div class="card-header">
        <h3>ĐƠN GIÁ THI CÔNG PHẦN THÔ</h3>
    </div>
    <div class="card-body">
        <img src="static/hinh/phantho.png"  style="width: 300px;height: 150px;text-align: center;">
        <h4>4 triệu/1m2</h4>
    </div>
    <div class="card-footer">
        <button name="button" type="button">Chi Tiết</button>
    </div>
 </div>
 <div class="card" style="text-align: center">
    <div class="card-header">
        <h3>ĐƠN GIÁ THI CÔNG PHẦN HOÀN THIỆN</h3>
    </div>
    <div class="card-body" >
        <img src="static/hinh/bietthu.png" style="width: 300px;height: 150px;">
        <h4>3 triệu/1m2</h4>
    </div>
    <div class="card-footer">
        <button name="button" type="button">Chi Tiết</button>
    </div>
 </div>
</div>







	 

  

{% endblock %}