{% extends 'kltp/base1.html' %}
    
{% block title %}cho thuê {% endblock %}

{% block content %}


<p><strong><span style="color: #ff0000;">Sao Mộc</span></strong>&nbsp; là đơn vị chuyên <strong>thiết kế và thi công nhà và công trình dân dụng, trường học, nhà xưởng</strong>, thời gian qua chúng tôi đã  thiết kế nhiều công trình được khách hàng đánh giá rất cao về tính thẩm mỹ và sự hợp lý trong quá trình sử dụng, phù hợp với nhu cầu của khách hàng <strong>dịch vụ thiết kế </strong> của chúng tôi.</p>
<p><strong>Dịch vụ của chúng tôi gồm có:</strong></p>
<ul>
<li><a href="">Thiết kế nhà mới</a></li>
<li><a href="">Thiết kế cảnh quan</a></li>
<li><a href="">Thiết kế thi công hệ thống điện nước</a></li>
<li><a href="">Thiết kế và thi công nội thất</a></li>
<li><a href="">Thiết kế thi công nâng cấp nhà cũ</a></li>
</ul>
<h2><strong>Các công trình chúng tôi đã thiết kế</strong></h2>


{% endblock %}